body {
    background: url(bg/Alter.jpg);
    padding-top:100px;
    height:100%;
    color:white;
    font-family: 'Times New Roman';
    zoom:100%;
    margin:0;
}

hr {
    width:450px;
}

